ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			padding: 10px 16px;
			background-color: #000;
		}
.inline a{
  background-color:red;
  display:inline-block;
  text-decoration:none;
  color:white;
  padding:10px;
  font-size:23px;
  position:center;
  top:0;
}
.inline a:hover{
  background-color:white;
  color:black;
}

.header{
  color:white;
  text-align: center;
  font-size: 50px;
}
body{
  margin:0;
  padding:0;
  background-color:#b3ffff ;
  background: #000

 
}

.text{
  width:300px;
  height:auto;
  top:30%;
  left:40%;
  position:absolute;
  color: white;
  background-color: rgb(189, 55, 55);
  box-sizing: border-box;
  padding:10px 40px;
  font-weight: bold;
}
span{
  color:black;
}

#display {
  border-collapse: collapse;
  width:50%;
  margin-left: 25%;
  margin-top:400px;
  background-color: burlywood;
  text-align: center;
}

table,th,td{
  border: 2px solid black;
  padding:5px;
}

th{
  font-size: 30px;
  font-weight: 700;
}

td{
  font-size: 25px;
  color:crimson;
  font-weight: 400;
}

.event{
  text-align: center;
  margin:200px;
  font-size:20px;
  
}

.pad{
  font-size: 30px;
  
}

.at{
   display:block;
  font-size: 20px;
  margin-left: 60%;
  margin-top: -30px;
  
}
 
